<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Referential datas</li>
              <li><a href="bookmakers">Bookmakers</a></li>
              <li><a href="matches">Matches</a></li>
              <li><a href="sports">Sports</a></li>
              <li><a href="datamapping">Data Mappings</a></li>
              <li class="nav-header">Bets</li>
              <li><a href="#">Best bet</a></li>
              <li><a href="#">Arbitrage</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
</div><!--/.well -->