</div><!--/span-->
</div><!--/row-->
      <hr>
      <footer>
        <p>&copy; Company superbet 2013</p>
      </footer>
    </div><!--/.fluid-container-->
    <script>
    	$('.selectpicker').selectpicker();
		$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
    </script>
  </body>
</html>