       
         <form id="ref-form">
		  <fieldset>
		    <legend>Edit</legend>
		    [[#model.metaProperties]]
		    <div class="form-group">
		      <label for="[[property]]">[[propertyName]]</label>
		      <input type="text" class="form-control" name="[[property]]" id="[[property]]" placeholder="[[propertyName]]">
		    </div>
		    [[/model.metaProperties]]
		  </fieldset>
		</form>
