<div class="well sidebar-nav">
            <ul class="nav nav-list">
            	[[#groups]]
              		<li class="nav-header">[[name]]</li>
              		[[#activities]]
              		<li><a href="/site/[[uri]]/">[[name]]</a></li>
              		[[/activities]]
            	[[/groups]]
            </ul>
</div><!--/.well -->