[[<index]]
[[$content]]
	  <legend>[[model.identifier]]</legend>
	  <div id="create-form" class="modal hide fade in" style="display: none; ">
	  		<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h3>Create [[model.identifier]]</h3>
			</div>
			<div class="modal-body">
				[[>form]]        
			</div>
			<div class="modal-footer">
				<a href="#" id='create-form-save' class="btn btn-success">Save</a>
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	 </div>
	  <div class="form-actions">
	  	<button data-toggle="modal" href="#create-form" class="btn btn-primary type="button">New</button>
	  <div> 
	  <script type="text/javascript">
		$(document).ready(function() {
		      $('#create-form-save').bind('click', function(){
				createRefObject('#ref-form','bookmakers');
		      });
		});
	  </script>        
	  [[>table]]
[[/content]]
[[/index]]