[[<index]]
[[$content]]
	  <legend>[[model.identifier]]</legend>
	  <div id="create-modal" class="modal hide fade in" style="display: none; ">
	  		<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h3>Create [[model.identifier]]</h3>
			</div>
			<div class="modal-body">
				[[>form]]        
			</div>
			<div class="modal-footer">
				<a href="#" id='create-form-save' class="btn btn-success" data-dismiss="modal">Save</a>
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	  </div>
	  <div id="upload-modal" class="modal hide fade in" style="display: none; ">
	  		<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h3>Create [[model.identifier]]</h3>
			</div>
			<div class="modal-body">
				<input id="upload-file" name="content" name="upload-file" type="file" data-url="/rest/[[resource]]/upload" />
			</div>
			<div class="modal-footer">
				<a href="#" id='upload-form-send' class="btn btn-success" data-dismiss="modal">Upload</a>
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	 </div>
	  <div id="search-modal" class="modal hide fade in" style="display: none; ">
	  		<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h3>Search [[model.identifier]]</h3>
			</div>
			<div class="modal-body">
				[[>search]]
			</div>
			<div class="modal-footer">
				<a href="#" id='search-form-send' class="btn btn-success" data-dismiss="modal">Search</a>
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
	 </div>
	  <div class="form-actions">
	  	<button data-toggle="modal" href="#create-modal" class="btn btn-primary type="button">New</button>
	  	<button data-toggle="modal" href="#upload-modal" class="btn btn-primary type="button">Import</button>
	  	<button data-toggle="modal" href="#search-modal" class="btn btn-primary type="button">Search</button>
	  	<button id="refresh" class="btn btn-primary type="button">Refresh</button>
	  <div> 
	  <script type="text/javascript">
		$(document).ready(function() {
		      $('#create-form-save').bind('click', function(){
				createRefObject('#ref-form','[[resource]]');
		      });
			  $("#upload-form-send").click(function() {
			    
			  });
			  $("#search-form-send").click(function() {
			  	$('#table-content').empty();
			    search('#rows','[[resource]]','#table-content','#search-form');
			  });
			  $("#refresh").click(function() {
			  	$('#table-content').empty();
			    findAll('#rows','[[resource]]','#table-content');
			  });
			   $('#upload-file').fileupload({
					dataType: 'json',
					done: function (e, data) {
					    alert('Upload finished.');
					},
					add: function (e, data) {
					    data.context = $('#upload-form-send')
					        .click(function () {
					            data.submit();
					        });
					}
			  });
		});
	  </script>        
	  [[>table]]
[[/content]]
[[/index]]