	<div class="control-group form-inline">
    	<label style="margin-right: 14px;" class="control-label" for="[[name]]">[[title]]</label>
	    <div class="input-prepend" id="[[name]]">
	    	<select class="selectpicker span4" name="[[name]].operator" id="[[name]].operator">
			    	[[#operators]]
					<option value="[[value]]">[[title]]</option>	    	
			    	[[/operators]]
	    	</select>
	    	
	    	[[#isSelect]]
	    		<select id="[[name]].criteriaValue" name="[[name]].criteriaValue">
	    			[[#values]]
	    				<option>[[name]]</option>
	    			[[/values]]
	    		</select>
	    	[[/isSelect]]
	    	[[^isSelect]]
			  	<input type="[[type.htmlType]]" id="[[name]].criteriaValue" name="[[name]].criteriaValue" 
			  	
			  	[[#htmlClass]]
			  		class="[[htmlClass]]"
			  	[[/htmlClass]]
			  	/>
	    	[[/isSelect]]
		  	
	    </div>
	</div>