<form class="form-horizontal" id="search-form">
  <fieldset>
    <legend>Search</legend>
	[[#search.criterias]]
	<div class="control-group">
	  <label for="[[name]]" class="control-label">[[name]]</label>
	  <div class="controls">
	  	<input type="text" name="[[name]]" id="[[name]]" placeholder="[[name]]" >
	  </div>
	</div>
	[[/search.criterias]]
	</fieldset>
</form>