[[<index]]
[[$content]]
	<legend>Synchronize Bookmakers</legend>
  
	<div class="input-append">
	    <select id="bookmaker-list"></select>
		<button id="sync-button" class="btn" type="button">Synchronize</button>
	</div>
	[[>table]]
	<script type="text/javascript">
		$(document).ready(function() {
			findAll('#bookmaker-values','bookmakers','#bookmaker-list');
		    $('#sync-button').bind('click', function(){
				synchronizeBookmaker($('#bookmaker-list').val());
		    });
		    findAll('#rows','[[resource]]','#table-content');
		});
	</script>
	<script id="bookmaker-values" type="text/x-mustache-template">
		{{#response}}
			<option>{{code}}</option>
		{{/response}}
	</script>        
[[/content]]
[[/index]]