<script type="text/javascript">
jQuery(document).ready(function(){
	findAll('#rows','[[resource]]','#table-content');
});
</script>
<script id="rows" type="text/x-mustache-template">
{{#response}}
	<tr>
		[[#model.metaProperties]]
		<td>
			{{[[property]]}}
		</td>
		[[/model.metaProperties]]
		<td><a class="btn btn-danger" onclick="javascript:deleteRefObject('[[resource]]',{{id}})"><i class="icon-trash icon-white"></i></a></td>
	</tr>
{{/response}}
</script>
<table class="table table-condensed table-hover table-striped">
	<thead>
		<tr>
			[[#model.metaProperties]]
			<th>
				[[propertyName]]
			</th>
			[[/model.metaProperties]]
			<th>Action</th>
		</tr>
	</thead>
	<tbody id="table-content">
	</tbody>
</table>
