<div class="row">
	<legend>{{metamodel.label}}</legend>
	<div class="form-actions">
		<button class="btn btn-primary type="button">Search</button>
		<button class="btn btn-primary type="button" ng-click="refresh()">Refresh</button>
	</div>
	<div class="table-responsive">
		<table
			class="table table-bordered table-hover table-striped tablesorter">
			<thead>
				<tr>
					<th ng-repeat="field in metamodel.fields">{{field.label}}<i
						class="fa fa-sort"></i></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dto in dtos">
					<td ng-repeat="field in metamodel.fields">{{dto[field.ref]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>