<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd 
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:ApplicationContext.xml" />

	<context:component-scan base-package="fr.ele.ui.model.superbet" />
	<context:component-scan base-package="fr.ele.ui.mvc" />
	<context:component-scan base-package="fr.ele.services.controller" />
	<context:component-scan base-package="fr.ele.services.rest" />

	<jaxrs:server address="${superbet.server.url}">
		<jaxrs:serviceBeans>
			<ref bean="BookMakerRestService" />
			<ref bean="MatchRestService" />
			<ref bean="SportRestService" />
			<ref bean="DataMappingRestService" />
			<ref bean="BetTypeRestService" />
			<ref bean="AdminRestService" />
			<ref bean="BetRestService" />
			<ref bean="UnMatchedPlayerRestService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean='jacksonProvider' />
		</jaxrs:providers>
	</jaxrs:server>
	<bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' />

	<bean id="viewResolver" class="fr.ele.ui.mvc.MustacheViewResolver">
		<property name="resourceBase" value="/WEB-INF/mustache/" />
		<property name="resourceSuffix" value=".mustache" />
	</bean>
</beans>